body {
    background-color: lightblue;
}

header {}

img {}

nav {}

ul {}

li {}

main {}

article {}

h1 {
    background-color: navajowhite;
    font-family: cursive;
}

h2 { 
    background-color: navajowhite;
    font-family: cursive;
}
h3 {
    background-color: navajowhite;
    font-family: cursive;
}
h4 {
    background-color: navajowhite;
    font-family: cursive;
}
p {}

footer {} 