body {
    background-color: lightblue;
}

h1 {
    background-color: navajowhite;
    font-family: cursive;
}

h2 { 
    background-color: navajowhite;
    font-family: cursive;
}
h3 {
    background-color: navajowhite;
    font-family: cursive;
}
h4 {
    background-color: navajowhite;
    font-family: cursive;
}
